@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  /* background-color: #212426; */
  background: url(../src/Assets/3.1.jpg);
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #3f4346;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #e2e3e6, -5px -5px 7px #e1e4e6;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: transparent;
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.product {
  width: 220px;
  height: 300px;
  margin: 1.2rem;
  display: inline-flex;
  background: #f9d3b4;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.product:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.9);

  transform: scale(1.05, 1.05);
}

.product div:nth-of-type(1) {
  width: 100%;
  height: 100%;
}

.product div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
}

.product div:nth-of-type(2) {
  z-index: 2;
  background: #f8c480dd;
  padding: 6px 20px 12px 20px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.product div:nth-of-type(2) h4 > p {
  text-align: left;
}

.product div:nth-of-type(2) h4 > p > span {
  font-family: "Times New Roman", sans-serif;
  letter-spacing: px;
  font-size: 17px;
  float: right;
  color: black;
  font-style: italic;
  font-weight: bold;
}

.product div:nth-of-type(2) h3 {
  margin-top: 1px;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
  color: #1c1d1f;
  text-align: center;
}

.footer {
  background-color: white;
  width: 81%;
  border-radius: 10px;
  margin-top: 2.5rem;
}

.footer ul {
  padding: 10px 0 10px 0;
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li a {
  padding: 0 10px;
  text-decoration: none;
  color: #000;
}

.footer p {
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 18px;
}

.footer .Contact {
  text-align: center;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1;
}

.footer .Contact > a {
  padding: 0 1rem 0 1rem;
  color: #000;
  text-decoration: none !important;
}

.footer .Contact > a:hover {
  cursor: pointer;
  color: #f1c40f;
}

.product:hover div:nth-of-type(1) {
  height: 100%;
  opacity: 0.3;
}

.product:hover div:nth-of-type(2) {
  background-color: transparent;
}

.product:hover div:nth-of-type(2) {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .product {
    width: "100%";
    margin: 1rem;
  }
}
